
<a class="ref" href="<%=url%>"><button type="button" class="btn butRef  btn-outline-dark "><i class="fa-solid fa-rotate"></i></button></a>

<a class="hom" href="/"><button type="button" class="btn butRef  btn-outline-dark "><i class="fa-solid fa-house"></i></button></a>
<a  class="ps-3 spect" href="/list"><button type="button" class="btn butRef  btn-outline-dark "> <i class="fa-solid fa-table"></i> </button></a>
<a class="ps-3 add" href="/absent"><button type="button" class="btn butRef btn-outline-dark "> + </button></a>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
</body>
</html>