<%- include("partials/header") -%>

<form action="" method="post">
   enter section name in capital: <input type="text" name="section" id="">
   <br><BR></BR>
   SUN:<input type="text" placeholder="period 1" name="sunp1" id="">
   <input type="text" placeholder="period 2" name="sunp2" id="">
   <input type="text" placeholder="period 3" name="sunp3" id="">
   <input type="text" placeholder="period 4" name="sunp4" id="">
   <input type="text" placeholder="period 5" name="sunp5" id="">
   <input type="text" placeholder="period 5" name="sunp6" id="">
   <input type="text" placeholder="period 7" name="sunp7" id="">
   <input type="text" placeholder="period 8" name="sunp8" id="">
   <input type="text" placeholder="period 9" name="sunp9" id="">
   <br><br><br><br>
   mon:<input type="text" placeholder="period 1" name="monp1" id="">
   <input type="text" placeholder="period 2" name="monp2" id="">
   <input type="text" placeholder="period 3" name="monp3" id="">
   <input type="text" placeholder="period 4" name="monp4" id="">
   <input type="text" placeholder="period 5" name="monp5" id="">
   <input type="text" placeholder="period 5" name="monp6" id="">
   <input type="text" placeholder="period 7" name="monp7" id="">
   <input type="text" placeholder="period 8" name="monp8" id="">
   <input type="text" placeholder="period 9" name="monp9" id="">
   <br><br><br><br>
   tue:<input type="text" placeholder="period 1" name="tuep1" id="">
   <input type="text" placeholder="period 2" name="tuep2" id="">
   <input type="text" placeholder="period 3" name="tuep3" id="">
   <input type="text" placeholder="period 4" name="tuep4" id="">
   <input type="text" placeholder="period 5" name="tuep5" id="">
   <input type="text" placeholder="period 5" name="tuep6" id="">
   <input type="text" placeholder="period 7" name="tuep7" id="">
   <input type="text" placeholder="period 8" name="tuep8" id="">
   <input type="text" placeholder="period 9" name="tuep9" id="">
    <br><br><br><br>
    wed:<input type="text" placeholder="period 1" name="wedp1" id="">
    <input type="text" placeholder="period 2" name="wedp2" id="">
    <input type="text" placeholder="period 3" name="wedp3" id="">
    <input type="text" placeholder="period 4" name="wedp4" id="">
    <input type="text" placeholder="period 5" name="wedp5" id="">
    <input type="text" placeholder="period 5" name="wedp6" id="">
    <input type="text" placeholder="period 7" name="wedp7" id="">
    <input type="text" placeholder="period 8" name="wedp8" id="">
    <input type="text" placeholder="period 9" name="wedp9" id="">
    <br><br><br><br>
    thu:<input type="text" placeholder="period 1" name="thup1" id="">
    <input type="text" placeholder="period 2" name="thup2" id="">
    <input type="text" placeholder="period 3" name="thup3" id="">
    <input type="text" placeholder="period 4" name="thup4" id="">
    <input type="text" placeholder="period 5" name="thup5" id="">
    <input type="text" placeholder="period 5" name="thup6" id="">
    <input type="text" placeholder="period 7" name="thup7" id="">
    <input type="text" placeholder="period 8" name="thup8" id="">
    <input type="text" placeholder="period 9" name="thup9" id="">
    <br><br><br><br>
    fri:<input type="text" placeholder="period 1" name="frip1" id="">
    <input type="text" placeholder="period 2" name="frip2" id="">
    <input type="text" placeholder="period 3" name="frip3" id="">
    <input type="text" placeholder="period 4" name="frip4" id="">
    <input type="text" placeholder="period 5" name="frip5" id="">
    <input type="text" placeholder="period 5" name="frip6" id="">
    <input type="text" placeholder="period 7" name="frip7" id="">
    <input type="text" placeholder="period 8" name="frip8" id="">
    <input type="text" placeholder="period 9" name="frip9" id="">
    
    

    <br>
    <button type="submit" >submit</button>
</form>


<%- include("partials/footer")-%>