<%- include("partials/header") -%>
<div class="landPage">


<h1 class="mainPaget">Main panel</h1>

<h2>Select the required option</h2>


<table>
    <tr> 
        <td class="td">add absent teacher</td> 
        
        <td class="td">specate Table</td>
        
        
        
        

    </tr>

    <tr>
        <td class="td"><a href="/absent"><button type="button" class="btn btn-light">Add</button></a></td>
        <td class="td"><a href="/list"><button type="button" class="btn btn-light">view</button></a></td>
    </tr>


</table>

<br><br><br>
<h2>More admin control to control data</h2>



<table>
    <tr> 
        <td class="td"> add teacher to database </td> 
        <td class="td"> delete existing result from database </td>
        <td class="td"> add teacher to respective section </td>
        
        
        
        

    </tr>

    <tr>
        <td class="td"><a href="/teacherInput"><button type="button" class="btn btn-light">Add</button></a></td>
        <td class="td"><a href="/removeTeacher"><button type="button" class="btn btn-light">remove</button></a></td>
        <td class="td"><a href="/routine"><button type="button" class="btn btn-light">add teacher</button></a></td>
    </tr>


</table>









<br>



</div>

<%- include("partials/footer")-%>